#logo {
  width: 100%;
  height: auto;
}

.root-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#sidenav {
  width: 270px;
  padding: 0 16px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

mat-label {
  color: #a5a5a5 !important;
}

#search-form {
  width: 90%;
  text-align: center;
}

#search-input {
  width: 100%;
  max-width: 700px;
}

#content-root {
  margin-top: 50px;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-bottom: calc(10vh + 50px);
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.sidenav-button {
  cursor: pointer;
}

.sidenav-button mat-icon {
  margin-right: 8px;
}

@media only screen  and (max-width : 1223px) {
  #content-root {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-height: 1000px) {
  #content-root {
    margin-bottom: 150px;
  }
}
