<div class="root-container">
  <mat-toolbar>
    <div class="flex-start" style="flex-flow: row nowrap;">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    </div>
    <div class="flex-center">
      <form id="search-form">
        <mat-form-field floatLabel="never" id="search-input">
          <mat-icon matPrefix style="vertical-align: bottom;">search</mat-icon>
          <mat-label>search</mat-label>
          <input matInput type="search" placeholder="search" (input)="onSearchbarChanged($event)">
        </mat-form-field>
      </form>
    </div>
    <div class="flex-end">
      <button mat-flat-button color="accent" (click)="openLoginModal()">Login</button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container style="flex: 1">
    <mat-sidenav #sidenav mode="over" id="sidenav" >
      <img src="assets/logo/logo-transparent.png" alt="logo" id="logo">
      <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item class="sidenav-button" (click)="openUploadModal()">
          <mat-icon>cloud_upload</mat-icon>
          <span>Upload track</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Content -->
      <div id="content-root">
        <app-audiolist #searchResults></app-audiolist>
      </div>
      <footer>
        <app-audioplayer></app-audioplayer>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
