<div>
  <mat-toolbar>
    <div class="audioplayer-container">
      <div class="audio-description">
        {{trackTitle}}
      </div>
      <div class="audio-progress">
        <span id="current-time">{{audioObject.currentTime | minuteSeconds}}</span>
        <div class="audio-controls-wrapper">
          <mat-slider id="audio-progressbar" min="0" max="{{duration > 0 ? duration : 1}}" step="1" value="{{audioObject.currentTime}}"
                      (change)="sliderChange($event)"  (mousedown)="sliderStartDrag()" (mouseup)="sliderStopDrag()" (input)="sliderIsDragging($event)"
                      [disabled]="duration === 0">
          </mat-slider>
          <div class="audio-controls">
            <div class="flex-start">
              <button mat-icon-button (click)="toggleRepeat()"><mat-icon>{{audioObject.currentRepeatMode.toString()}}</mat-icon></button>
            </div>
            <div class="flex-center">
              <button mat-icon-button (click)="audioObject.previousTrackInQueue()"><mat-icon>skip_previous</mat-icon></button>
              <button mat-icon-button (click)="togglePlaying()"><mat-icon>{{audioObject.isPlaying() ? 'pause' : 'play_arrow'}}</mat-icon></button>
              <button mat-icon-button (click)="audioObject.nextTrackInQueue()"><mat-icon>skip_next</mat-icon></button>
            </div>
            <div class="flex-end">
              <button mat-icon-button id="volume-menu" [matMenuTriggerFor]="volumeMenu"><mat-icon>{{volumeIcon}}</mat-icon></button>
              <mat-menu #volumeMenu="matMenu">
                <mat-slider min="0" max="100" step="1" value="100" vertical (input)="volumeChange($event)"></mat-slider>
              </mat-menu>
            </div>
          </div>
        </div>
        <span id="duration">{{duration | minuteSeconds}}</span>
      </div>
    </div>
  </mat-toolbar>
</div>
