.audioplayer-container {
  height: 100%;
  margin: auto;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

mat-toolbar {
  height: 10vh;
  min-height: 100px;
}

.audio-description {
  height: 20%;
}

.audio-progress {
  height: 80%;
  width: 100%;
  display: flex;
}

.audio-controls {
  height: 60%;
  display: flex;
  justify-content: center;
}

.audio-controls-wrapper {
  flex-grow: 1;
}

#current-time {
  padding: 10px 8px 8px;
  flex-shrink: 1;
}

#duration {
  padding: 10px 8px 8px;
  flex-shrink: 1;
}

#audio-progressbar {
  width: 100%;
  height: 40%;
  padding: 0;
}
