<form #signupForm="ngForm" [formGroup]="formGroup" (submit)="submit()">
  <h2 class="mt-0">Sign up</h2>
  <mat-form-field id="username" hideRequiredMarker="true">
    <mat-label>Username</mat-label>
    <input matInput type="text" placeholder="username" formControlName="username" name="username" [errorStateMatcher]="validationErrorMatcher" required>
    <mat-error *ngIf="f.username.errors?.required && signupForm.submitted">Username is required!</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field id="email" hideRequiredMarker="true">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="email" formControlName="email" name="email" [errorStateMatcher]="validationErrorMatcher" required>
    <mat-error *ngIf="(f.email.errors?.required || f.email.errors?.email) && signupForm.submitted">Email is required!</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field id="password" hideRequiredMarker="true">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="password" formControlName="password" name="password" [errorStateMatcher]="validationErrorMatcher" required>
    <mat-error *ngIf="f.password.errors?.required && signupForm.submitted">Password is required!</mat-error>
    <mat-error *ngIf="f.password.errors?.minlength && signupForm.submitted">Password has to be at least 8 characters!</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field id="confirm-password" hideRequiredMarker="true">
    <mat-label>Confirm password</mat-label>
    <input matInput type="password" placeholder="password" formControlName="confirmPassword" name="confirm-password" [errorStateMatcher]="validationErrorMatcher" [pattern]="f.password.value" required>
    <mat-error *ngIf="f.confirmPassword.errors?.required && signupForm.submitted">Confirm password!</mat-error>
    <mat-error *ngIf="f.confirmPassword.errors?.pattern && signupForm.submitted">Password do not match!</mat-error>
  </mat-form-field>
  <br>
  <br>
  <button mat-flat-button color="accent" type="submit">Sign up</button>
  <br>
  <p>Already have an account? <u class="link" (click)="openLoginModal()">Log in!</u></p>
</form>
